git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/trl.git
accelerate==0.21.0
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets==2.10.1
fire
transformers>=4.28.0
sentencepiece
gradio
openai==0.27.4
backoff==2.2.1
sacrebleu
gdown
scipy
openai
wandb
git+https://github.com/huggingface/peft.git
